faiss-cpu
Flask
flask-cors
fpdf
fpdf2
geopy
googlemaps
httpcore
httpx
huggingface-hub
langchain
langchain-aws
langchain-community
langchain-core
langchain-experimental
langchain-mistralai
langchain-text-splitters
mistralai
pillow
plotly
python-dotenv
reportlab
requests
safetensors
scikit-learn
scipy
sentence-transformers
tokenizers
torch
transformers
pandas
openpyxl